header {
  padding: 10px 5px 10px 5px;
  border: solid #DEDEDE;
  background-color: #DEDEDE;
  margin: 0;
  display: flex;
  justify-content: center;
}

input {
  width: 75%;
}

div h1 {
  text-align: center;
}

#results {
  padding: 100px;
  display: flex;
  flex-direction: column;
}

#container {
  border-top: solid #DEDEDE;
}

#list {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  flex-basis: 10%;
}

li {
  border: solid #DEDEDE;
  display: flex;
  flex-flow: wrap;
}

img {
  height: 125px;
}
